/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  text-align: right;
  margin-top: 1rem;
}

.navigation__item {
  text-decoration: none;
  margin-left: 24px;
  color: inherit;
}

.navigation__item.active {
  font-weight: 500;
}

.navigation__item:last-child {
  margin-right: 0;
}

/* Main content */
main {
  margin: 24px 0;
}

main h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.project__item {
  list-style: none;
  margin-top: 15px;
}

.project__item a {
  text-decoration: none;
  color: grey;
  font-weight: 500;
  font-size: 1rem;
}

.project__item a:hover {
  cursor: pointer;
}

.project__item p {
  margin-bottom: 0px;
}

.project__item span {
  font-weight: 500;
}
