* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  padding: 0;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

#container {
  padding: 0;
  margin: 20px 150px;
}

header {
  display: flex;
  align-items: center;
}

.navigation {
  flex: 1;
  text-align: right;
}

.navigation--item {
  text-decoration: none;
  margin-left: 24px;
}

.navigation--item:last-child {
  margin-right: 0;
}

main {
  display: flex;
  align-items: center;
}

.main--img {
  flex-grow: 1;
  height: 100vh;
}


img {
  width: 75%;
}

.socials {
  margin-left: 24px;
}

.socials--item {
  margin-right: 12px;
}

.main--content {
  flex-grow: 4;
  flex-shrink: 0;
}

.description {
  margin: 0;
  padding: 0;
}

p {
  max-width: 800px;
}

h1,h2 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
